@import '../style.scss';
@import '../components/header';
@import '../components/main_patterns';

.header{
    @include header("https://ik.imagekit.io/es2e8pxot/images/Control-Hiss-Resonance.avif");

    .header-content{
        @include header-content();

        span.title {
            margin-top: 2rem;
            font-size: $xxl-font;
            color: $white-900;
        }

        .title-description{
            margin-bottom: $xl-font;
        }
        
    }
}

.sobre {
    @include textPatterns();
}
