@import '../style.scss';
@import '../components/buttons';
@import '../components/header';


.call-action{
    button {
        @include btnDiagonalHover($black-100, $white-900);
    }
}


.header{
    @include header("https://ik.imagekit.io/es2e8pxot/images/black-woman-tecnology.jpg", 0 -50px);
    
    @media (max-width: 1368px) {
        background-position: center;
    }

    .header-content{
        @include header-content();
        display: flex;
        justify-content: center;

        gap: $xxxl-font;
    }
}

.about-container{
    .container{
        display: flex;
        justify-content: space-between;

        @media (max-width: $layout-tablet){
            flex-direction: column;
        }
        
        padding-top: $xxxl-font;
        padding-bottom: $xxxl-font;

        .img-container{
            @media (max-width: $layout-tablet){
                margin: 0 auto;
            }

            img{
                width: 30rem;

                @media (max-width: $layout-mobile){
                   width: 100%;
                }
            }
        }
        
        .about-description{
            display: flex;

            flex-direction: column;
            justify-content: center;

            font-size: $medium-font;
            padding: $lg-font $xxxl-font;

            gap: $xl-font;
        }
    }
}

// Lugarzinho que vou chorar com media querie
.pioneers-container{
    padding: $xxxl-font 0; 
    background-color: $black-200;
    color: $white-900;

   

    // height: 70rem;

    .container{
        height: 100%;
        display: flex;

        justify-content: space-between;
        flex-direction: column;

        .pioneers-title{
            display: flex;
            align-items: end;
            justify-content: space-between;
            gap: $xl-font;
            overflow: hidden;

            @media (max-width: $layout-tablet){
                flex-direction: column-reverse;
                align-items: center;

                br{
                    display: none;
                }
            }

            h3 {
                font-family: $title-fonts;
                font-size: $xxxl-font;
            }

            p{
                margin-top: $xl-font;
                font-size: $xl-font;
                line-height: 1.5;
            }

            .mozaico-grid{
                display: grid;
                grid-template-columns: repeat(2, 1fr);

                img:first-of-type{
                    width: 20rem;

                    @media (max-width: $layout-tablet){
                        width: 15rem;
                    }
                    
                    position: relative;
                    right: 20px;
                }
                
                img:nth-of-type(2){
                    width: 20rem;

                    @media (max-width: $layout-tablet){
                        width: 15rem;
                    }
            
                    position: relative;
                    right: 60px;
                    top: 80px;

                    z-index: 1;
                }
            
                img:nth-of-type(3){
                    width: 20rem;

                    @media (max-width: $layout-tablet){
                        width: 15rem;
                    }
            
                    position: relative;
                    right: -30px;
                    top: -20px;
                }
            
                img:nth-of-type(4){
                    width: 25rem;

                    @media (max-width: $layout-tablet){
                        width: 20rem;
                    }
            
                    position: relative;
                    right: 10px;
                }
            }
        }

        .pioneers-description{
            padding-top: $xxxl-font;
            font-size: $sm-font;

            p + p{
                margin-top: $lg-font;
            }
        }
    }
}


.about-pioneers-container{
    color: $gray-100;
    padding: $xxxl-font 0;

    .pioneer-container{
        display: flex;
        gap: $xxxl-font;

        @media (max-width: $layout-tablet){
            flex-direction: column;

            &:nth-of-type(1){
                flex-direction: column-reverse;
            }
        }

        
       
        > div{
            display: flex;
            flex-direction: column;
            justify-content: center;

            .pioneers-title{
                h3{
                    font-family: $title-fonts;
                    font-size: $xxxl-font;
                }
    
                p{
                    font-family: $title-fonts;
                    font-size: $xxl-font;
                }
            }
    
            .pioneer-description{
                font-size: $medium-font;
    
                p{
                    margin-top: $xl-font;
                }
            }
        }
        
        .pioneer-image{
            @media (max-width: $layout-tablet){
                align-items: center;
            }

            display: flex;
            flex-direction: column;
            img{
                width: 40rem;

                @media (max-width: $layout-mobile){
                   width: 100%;
                }
            }

            span{
                margin-top: .5rem;
                font-size: $vsm-font;
            }
        }
    }

    .pioneer-divisor{
        width: 100%;
        display: inline-block;
        border: 1px solid $gray-900;
        margin: $xxxl-font 0;
    }

}

.challenges-container{
    background-color: $gray-900;
    padding: $xxxl-font 0;

    .container{
        display: flex;
        gap: $xl-font;
        justify-content: space-between;

        @media (max-width: $layout-tablet) {
            flex-direction: column-reverse;
            text-align: center;
            gap: $xxl-font;
        }
        
        .about-challenges{
            flex: 1;
            display: flex;
            flex-direction: column;

            align-items: center;
            justify-content: center;

            h3{
                font-family: $title-fonts;
                font-size: $xxl-font;
            }
    
            p{
                margin-top: $sm-font;
                font-size: $sm-font;
            }
        }

        img{
            @media (max-width: $layout-tablet){
                width: 40rem;
                max-width: 100%;
            }

            width: 50rem;
        }
   }
}


.female-future-container{
    padding: $xxxl-font 0;

    .container{
        display: flex;
        gap: $xxxl-font;

        @media (max-width: $layout-tablet){
            flex-direction: column;
        }

        .female-future-title{
            @media (max-width: $layout-tablet){
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;

                br {
                    display: none;
                }
            }

            h3{
                font-family: $title-fonts;
                font-size: $xxxl-font;
            }
    
            img{ 
                margin-top: $xl-font;
                width: 40rem;

                @media (max-width: $layout-mobile) {
                    width: 100%;
                }
            }
        }
    
        .female-future-about{
            position: relative;

            p{
                font-size: $medium-font;
                & + p {
                    margin-top: $lg-font;
                }
            }

            .company-action-click{
                @media (max-width: $layout-greatest-tablet){
                    position: initial;
                    margin-top: $xxxl-font;
                }

                position: absolute;
                bottom: 0;
                right: 0;

                a{
                    text-decoration: underline;
                    color: $a-link-color;
                }
            }
        }
    }
    
}