@import '../style.scss';
@import '../components/buttons';
@import '../components/header';
@import '../components/main_patterns';

.header{
    @include header("https://ik.imagekit.io/es2e8pxot/images/anne-inter.jpg", 0 0);
    
    .header-content{
        @include header-content();
        display: flex;
        justify-content: center;

        gap: $xxxl-font;

        .brand-calling{
            margin-bottom: 0;
            margin-top: $sm-font;
            font-size: $lg-font;
        }
    }
}

.text-development{
    @include textPatterns();
}

.about-anne{
    color: $white-900;
    background-color: $dark-purple;
    
    .flex-text_img{
        display: flex;
        gap: $xxl-font;
    
        .header-image{
            justify-content: center;
            img{
                width: 25rem;
                height: 45rem;
            }
        }

        .text-container{
            padding: $xxl-font 0;
        }
    }

    
}