@import '../style.scss';
@import '../components/buttons';
@import '../components/header';
@import '../components/main_patterns';

.header{
    @include header("https://ik.imagekit.io/es2e8pxot/images/mercury-13-bg.png", 0 0);
    
    .header-content{
        @include header-content();
        display: flex;
        justify-content: center;

        gap: $xxxl-font;

        .brand-calling{
            font-size: $lg-font;
        }
    }
}

.text-development{
    @include textPatterns();
    color: $gray-100;
}

.video-container{
    iframe {
        width: 100%;
        height: 600px;

        @media (max-width: $layout-tablet){
            height: 400px;
        }

        @media (max-width: $layout-small-mobile){
            height: 300px;
        }
    }

}