@import '../style.scss';
@import '../components/buttons';
@import '../components/header';
@import '../components/main_patterns';

.header{
    @include header("/public/assets/images/mulheres-tecnologia.png", 0 0);
    
    .header-content{
        @include header-content();
        display: flex;
        justify-content: center;

        gap: $xxxl-font;

        .brand-calling{
            margin-bottom: 0;
            margin-top: $sm-font;
            font-size: $lg-font;
        }
    }
}


.dark-background.text-development{
    background-color: $dark-purple;
    color: $white-900
}

.text-development{
    @include textPatterns();
    color: $gray-100;
}