@import '../style.scss';
@import '../components/buttons';
@import '../components/header';
@import '../components/main_patterns';

.header{
    @include header("/public/assets/images/aoba-newgame.jpg", 0 0);
    
    .header-content{
        @include header-content();
        display: flex;
        justify-content: center;

        gap: $xxxl-font;

        .brand-calling{
            margin-bottom: 0;
            margin-top: $sm-font;
            font-size: $lg-font;
        }
    }
}

.text-development{
    @include textPatterns();
    color: $gray-100;
}

.about-anne{
    
    .flex-text_img{
        display: flex;

        .flex-image{
            justify-content: center;

            img{
                width: 50rem;
            }
        }

        .text-container{
            padding: $xxl-font;
        }
        
    }

    
}