@import '../style.scss';
@import '../components/buttons';
@import '../components/cards';
@import '../components/header';
@import '../components/main_patterns';

.header{
    height: 0;
}

.news-section{
    margin-top: 12rem;
    background-color: $white-900;
    padding: $xxxl-font 0;

    .container{
        padding: 0 $vsm-font;
    }
}

.cards{
    display: inline;

    .card{
        @include card($theme: 'dark')
    }
    .card + .card{
        margin-top: $xl-font;
    }
}


