<footer id="footer">
    <div class="container">
        <section class="contato">
                <div class="contato-info">
                    <h3>Urban Gazette Co.</h3>
                    <img src="https://ik.imagekit.io/es2e8pxot/images/ug-co-logo.svg" alt="">
                </div>
                <div class="contato-info">
                    <h3>Suporte</h3>
                    <p>(11) 3549-6570 (dentro do estado de SP)</p>
                    <p>0800 773 6633 (fora do estado de SP)</p>
                    <p>Atendimento das 09h às 18h</p>
                </div>
                <div class="contato-info">
                    <h3>Sobre Nós</h3>
                    <p><a href="#">Canal de Ética</a></p>
                    <p><a href="#">Política de Cookies</a></p>
                    <p><a href="#">Política de Privacidade</a></p>
                    <p><a href="#">Contato</a></p>
                    <p><a href="#">Transparência Salarial</a></p>
                </div>
        </section>
        <p class="lyrics">NexGen Consulting | Av. Paulista, 2000 - 8º andar - Bela Vista, São Paulo, SP – 01311-934</p>
        <p class="lyrics">&copy; 2024 Urban Gazette Co. Todos os direitos reservados.</p>
    </div>
</footer>