<header class="navbar">
    <div class="container">
        <h1><a href="/pages/index.ejs" class="company-title">Urban Gazette Co.</a></h1>
        <nav>
            <ul>
                <li><a href="/pages/news.ejs">Ver notícias</a></li>
                <li><a href="#footer">Sobre nós</a></li>
            </ul>
        </nav>
    </div>
</header>