.container {
    max-width: 1248px;
    margin: 0 auto;
    padding: 0 $xxxl-font;

    @media (max-width: $layout-small-mobile) {
        padding: 0 $xxl-font;
    }
}

.company-title{
    font-family: $title-fonts;
}

.title{
    color: $gray-100;
}

