@import './components/cards';

.mais-recentes {
    padding: 50px 0;
    background-color: $gray-100;

    h2 {
        font-size: $xxl-font;
        margin-bottom: $xl-font;
        color: $white-900;
    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2.5rem;

   .card{
        @include card();
   }
}





