<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urban Gazette Co.</title>
    <link rel="stylesheet" href="/public/styles/pages/belas_mulheres.scss">

    <!-- Fonts -->
    <link rel="stylesheet" href="/public/assets/fonts/higuen-font/stylesheet.css">
    <!-- <link rel="stylesheet" href="./public/assets/fonts/nourd-font/stylesheet.css"> -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <%- include(`./partials/header`) %>

    <main>
        <section class="header">
            <div class="header-shadow"></div> 
            <div class="container">
                <div class="header-content">
                    <div> 
                        <p class="brand-calling">CRÔNICA</p>                        
                        <h2>
                            Belas Mulheres
                        </h2>
                    </div>
                    <div>
                        <p class="author">Por Wellington Martins dos Santos</p>
                        <p class="post-day">07/06/2024</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="text-development">
            <div class="container">
                <div class="flex-text_img">
                    <div class="text-container">
                        <p>
                            Certo dia, enquanto tomava meu desjejum e lia a Folha, me peguei admirando uma bela senhora. Tinha seus cabelos bagunçados, mas uma mente perfeitamente organizada, lábios que não possuíam volume, porém cheios de boas palavras, suas mãos cheias de feridas e queimaduras, entretanto ostentavam troféus. Essa mulher, que no fim de sua vida não possuía mais beleza física, pois fora roubada pela sua curiosidade e anseio por conhecimento, tem, todavia, sua face gravada na história.
                        </p>
                        <p>
                            Enquanto refletia sobre aquela bela mulher, me questionei: “O que é beleza? Seria uma mulher com aparência atrativa? Seria uma mulher estilosa? Seria ela porventura carismática?” Durante meu devaneio, lembrei de uma frase do Pequeno Príncipe: “O essencial é invisível aos olhos e só se pode ver com o coração”.
                        </p>
                        <p>
                            Ao fim daquele maravilhoso café me despedi daquela mulher com um obrigado nos lábios por Marie Curie ser um marco na história e com a seguinte conclusão: “O importante é que retenha o exterior sem renunciar ao interior.”
                        </p>
                    </div>
                    <div class="flex-image">
                        <img src="/public/assets/images/belas-mulheres.png" alt='Art Print "Cientista Marie Curie da Pop Art"'>
                        <span>Art Print "Cientista Marie Curie da Pop Art" de Pop Art Store'</span>
                    </div>
                </div>
            
                <div class="divisor">
                </div>

                <div class="article-author">
                    <p class="about-author">
                        Wellington Martins dos Santos é estudante de ADS da Fatec Carapicuíba.
                    </p>
                </div>
            </div>
        </section>
        
        <%- include(`./partials/recents_news`, {actualPage: "belas_mulheres"}) %>
    </main>

    <%- include(`./partials/footer`) %>

    <script type="module" src="/src/index.js"></script>
</body>
</html>