<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urban Gazette Co.</title>
    <link rel="stylesheet" href="/public/styles/pages/home.scss">

    <!-- Fonts -->
    <link rel="shortcut icon" href="/public/assets/images/ug-co-logo.svg" type="image/x-icon">
    <link rel="stylesheet" href="/public/assets/fonts/higuen-font/stylesheet.css">
    <link rel="stylesheet" href="/public/assets/fonts/nourd-font/stylesheet.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <%- include(`./partials/header`, {scrolled: false}) %>
    <main>

        <%= locals.foo %>
        <section class="header">
            <div class="header-shadow"></div> 
            <div class="container">
                <div class="header-content">
                   <div class="title-content">
                    <p class="brand-calling">THE BUSINESS OF TOMORROW</p>
                    <h2>Mulheres na <br> Tecnologia</h2>
                   </div>
                  
                    <div class="call-action">
                        <a href="/pages/news.ejs">
                            <button>Ver artigos</button> 
                        </a>                       
                    </div>
                </div>
            </div>
        </section>

        <section class="about-container">
            <div class="container">
                <div class="img-container">
                    <picture>
                        <img 
                        loading="lazy"
                        role="presentation"
                        srcset="
                            /public/assets/images/japanese-woman.jpg?width=1200 700w
                            /public/assets/images/japanese-woman.jpg?width=2400 1000w
                            /public/assets/images/japanese-woman.jpg?width=3600 1200w
                            /public/assets/images/japanese-woman.jpg
                        "
                        decoding="async"
                        src="/public/assets/images/japanese-woman.jpg" alt="">
                    </picture>
                </div>
                <div class="about-description">
                    <p>Na vasta paisagem da tecnologia, as vozes e contribuições das mulheres têm sido, por muito tempo, tanto subestimadas quanto sub-representadas. No entanto, em meio a essa narrativa muitas vezes dominada pelo masculino, há uma crescente onda de mulheres que estão desafiando os estereótipos e deixando sua marca indelével no mundo da inovação tecnológica.</p>
                    <p>Neste artigo, mergulhamos profundamente no cenário dinâmico das mulheres na tecnologia, explorando suas realizações, desafios e o impacto transformador que estão tendo em um campo tradicionalmente dominado pelo patriarcado.</p>
                </div>
            </div>
        </section>

        <section class="pioneers-container">
            <div class="container">
                <div class="pioneers-title">
                    <div>
                        <h3>Pioneiras <br> da Tecnologia</h3>
                        <p>Quebrando barreiras e <br> Abrindo caminhos</M></p>
                    </div>
                    <div class="mozaico-grid">
                        <img src="/public/assets/images/ada-lovance.webp" alt="">
                        <img src="/public/assets/images/carol-shaw.webp" alt="">
                        <img src="/public/assets/images/hedy-lamarr.webp" alt="">
                        <img src="/public/assets/images/mary-jackson.webp" alt="">
                    </div>
                   </div>

                  <div class="pioneers-description">
                    <p>Histórias de pioneiras na tecnologia ecoam através do tempo, destacando figuras inspiradoras que abriram o caminho para as gerações futuras. Mulheres como Ada Lovelace, considerada a primeira programadora do mundo, e Grace Hopper, pioneira da linguagem de programação COBOL, são exemplos de visão e determinação em um mundo predominantemente masculino.</p>
                    <p>Hoje, o legado dessas pioneiras continua a inspirar uma nova geração de mulheres a perseguir suas paixões na tecnologia. De desenvolvedoras de software a engenheiras de hardware, de cientistas de dados a empreendedoras de startups, as mulheres estão moldando o futuro da tecnologia com sua criatividade, habilidades e perspectivas únicas.</p>
                  </div>
                </div>
            </div>
        </section>

        <section class="about-pioneers-container">
            <div class="container">
                
                <div class="pioneer-container">
                    <div>
                        <div class="pioneers-title">
                            <div>
                                <h3>Mary Jackson </h3>
                                <p>(1921-2005)</p>
                            </div>
                        </div>
        
                        <div class="pioneer-description">
                            <p>Mary Jackson estudou matemática e física e teve destaque na Nasa. Para continuar atuando na agência, teve que cursar engenharia. Isso fez dela a primeira mulher negra engenheira da Nasa. Estudava o limite de ar em torno de aviões e túneis de vento.
                            </p>
                            <p>É um dos nomes que inspirou o filme “Estrelas Além do Tempo”.</p>
                        </div>
                    </div>
                    <div class="pioneer-image">
                        <img src="/public/assets/images/mary-jackson.webp" alt="" >
                        <span>Mulheres na tecnologia que fizeram história: Mary Jackson (1921-2005) – Imagem: Reprodução / NASA</span>
                    </div>
                </div>

                <div class="pioneer-divisor"></div>

                <div class="pioneer-container">
                    <div class="pioneer-image">
                        <img src="/public/assets/images/carol-shaw.webp" alt="" >
                        <span>Mulheres na tecnologia que fizeram história: Carol Shaw (1955) – Imagem: Reprodução / Carol Shaw</span>
                    </div>
                    <div>
                        <div class="pioneers-title">
                            <div>
                                <h3>Carol Shaw (1955)</h3>
                            </div>
                        </div>
        
                        <div class="pioneer-description">
                            <p>Carol Shaw foi a primeira mulher na tecnologia especificamente de designer de games.
                            </p>
                            <p>Atuava como engenheira de software no projeto Atari Basic Reference Manual. Também criou o jogo River Raid, além de Happy Trails, Video Checkers, 3-D Tic-Tac-Toe — entre vários outros.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="challenges-container">
            <div class="container">
                <div class="about-challenges">
                    <h3>Desafios e Oportunidades</h3>
                    <p>O Caminho Rumo à Paridade de Gênero</p>
                </div>
                <div>
                    <img src="/public/assets/images/1476838_People_Business_1280x720.gif" alt="">
                </div>
        </div>
        </section>

        <section class="female-future-container">
            <div class="container">
                <div class="female-future-title">
                    <h3>O Futuro da <br>Tecnologia é <br>Feminino</h3>
                    <img src="/public/assets/images/womans-studing.jpg" alt="">
                </div>
                <div class="female-future-about">
                    <div>
                        <p>
                            No século XXI, o futuro da tecnologia está intrinsecamente ligado ao empoderamento feminino. Com mais mulheres ingressando na inovação tecnológica, testemunhamos uma expansão do potencial criativo do setor. À medida que celebramos suas conquistas, é crucial apoiar, capacitar e amplificar suas vozes.
                        </p>
                        <p>
                            A busca pela igualdade de gênero na tecnologia não é apenas uma questão de justiça, mas também de inteligência e inovação. Capacitar as mulheres para liderar na tecnologia constrói um mundo mais inclusivo e promissor para todos. É hora de agir, juntos podemos transformar a tecnologia para melhor.
                        </p>
                    </div>

                    <div class="company-action-click">
                        <p>Fique por dentro das últimas <a href="#">notícias sobre tecnologia</a> com a UG Co.</p>
                    </div>
                </div>
        </div>
        </section>
    </main>

    <%- include(`./partials/footer`) %>

    <script type="module" src="/src/index.js"></script>
</body>
</html>