<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urban Gazette Co.</title>
    <link rel="stylesheet" href="/public/styles/pages/interstellar.scss">

    <!-- Fonts -->
    <link rel="stylesheet" href="/public/assets/fonts/higuen-font/stylesheet.css">
    <!-- <link rel="stylesheet" href="./public/assets/fonts/nourd-font/stylesheet.css"> -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <%- include(`./partials/header`) %>

    <main>
        <section class="header">
            <div class="header-shadow"></div> 
            <div class="container">
                <div class="header-content">
                    <div> 
                        <h2>
                            Protagonismo <br/> Feminino em <br/> Interstellar
                        </h2>
                        <p class="brand-calling">Ciência e Emoção Entrelaçadas</p>                        
                    </div>
                    <div>
                        <p class="author">Por Felipe de Melo Fernandes</p>
                        <p class="post-day">17/05/2024</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="about-anne text-development">
            <div class="container">
                <div>
                    <p>Interstellar, dirigido por Christopher Nolan, é uma obra-prima cinematográfica que explora temas complexos como viagem no tempo, buracos negros e a sobrevivência da humanidade. Apesar de ser um filme dominado por figuras masculinas, duas personagens femininas se destacam significativamente: a cientista Amelia Brand, interpretada por Anne Hathaway, e a jovem e brilhante Murphy Cooper, vivida por Mackenzie Foy na infância e por Jessica Chastain na fase adulta. Estas mulheres desempenham papéis cruciais que moldam a trama e demonstram a importância das mulheres na ciência e na tecnologia.</p>
                </div>
            
                <div class="flex-text_img">
                    <div class="header-image">
                        <img src="/public/assets/images/ah12-interstellar-brand-anne-hathaway.jpg" alt="Jesse Faden, protagonista de Control, em uma pose poderosa.">
                        <span>Anne Hathaway em Interstellar © 2014 - Paramount Pictures</span>
                    </div>
                
                    <div class="text-container">
                        <p>
                            Dr. Amelia Brand é uma cientista talentosa e corajosa, membro da missão Endurance que busca um novo lar para a humanidade. A personagem de Anne Hathaway não é apenas uma companheira de viagem; ela é uma cientista brilhante cuja inteligência e habilidades são vitais para a missão. Brand exemplifica a dedicação e o sacrifício exigidos na busca pelo avanço científico e pela sobrevivência humana. Sua determinação em encontrar um novo planeta habitável e sua capacidade de tomar decisões difíceis em situações de extremo perigo sublinham a importância das mulheres na liderança científica.
                        </p>
                        <p>
                            Um dos momentos mais impactantes do filme é quando Brand argumenta sobre a importância do amor como uma dimensão que transcende tempo e espaço, sugerindo que o amor pode ser um fator científico relevante nas decisões sobre qual planeta colonizar. Este discurso não só humaniza a ciência, mas também coloca Brand como uma personagem complexa que equilibra lógica e emoção, desafiando o estereótipo de que a ciência é uma arena puramente racional e dominada por homens.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="about-murphy text-development">
            <div class="container">
                <div>
                    <p>
                        Murphy Cooper, a filha de Joseph Cooper (Matthew McConaughey), é apresentada inicialmente como uma jovem curiosa e extremamente inteligente. Murphy, ou Murph, herda a paixão por ciência e tecnologia de seu pai. Desde jovem, ela demonstra um talento excepcional para resolver problemas complexos, o que a leva a fazer descober-tas significativas que são essenciais para a sobrevivência da humanidade. À medida que cresce, interpretada por Jessica Chastain, Murph torna-se uma cientista renomada, cujo trabalho é fundamental para desvendar o mistério da gravidade que pode salvar a humanidade. 
                    </p>
                </div>

                <div class="header-image">
                    <img src="/public/assets/images/murphy-and-father.jpg" alt="Matthew McConaughey e Mackenzie Foy em Interestelar">
                    <span>Matthew McConaughey e Mackenzie Foy em Interestelar - Foto por Melinda Sue Gordon - © 2014 Warner Bros. Entertainment, Inc. and Paramount Pictures Corporation. All Rights Reserved.</span>
                </div>
            
                <div>
                    <p>
                        A personagem de Murphy desafia as expectativas de gênero desde sua infância, quando sua inteligência e determinação a destacam em um campo predominantemente masculino. Sua persistência em resolver a "equação da gravidade" é uma das tramas centrais do filme, e sua descoberta seria crucial para o plano de salvar a Terra. A representação de Murphy como uma cientista brilhante e resiliente serve de inspiração e destaca a necessidade de mais mulheres na ciência e tecnologia.​​                    
                    </p>
                    <p>
                        Interstellar, portanto, embora centrado em personagens masculinos, oferece um tributo significativo às contribuições femininas na ciência. Amelia Brand e Murphy Cooper são exemplos poderosos de como as mulheres têm e continuarão a ter papéis cruciais na tecnologia e na exploração científica. Através de suas jornadas, o filme ilumina a importância da inclusão de mais mulheres em todos os campos (Ciência, Tecnologia, Engenharia e Matemática), reconhecendo que a diversidade é vital para o progresso e inovação científica.​
                    </p>
                </div>

                <div class="header-image">
                    <img src="/public/assets/images/murphy-older.jpg" alt="Jessica Chastain em Interstellar">
                    <span>Jessica Chastain em Interstellar - Foto por Melinda Sue Gordon - © 2014 Warner Bros. Entertainment, Inc. and Paramount Pictures Corporation. All Rights Reserved.</span>
                </div>

                <div>
                    <p>
                        Interstellar está disponível para streaming na MAX, fica aqui minha recomendação para cinéfilos, amantes de ficção cientifica.
                    </p>
                </div>

                <div class="divisor">
                </div>

                <div class="article-author">
                    <p class="about-author">
                        Danilo Pereira, estudante de ADS, entusiasta de filmes e gamer casual. Nos meus momentos livres, curto <br>
                        a companhia dos meus cachorros (Aslan, Amora, Anastácia e Abigail).
                    </p>
                </div>
            </div>
        </section>

        <%- include(`./partials/recents_news`, {actualPage: "interstellar"}) %>
    </main>

    <%- include(`./partials/footer`) %>

    <script type="module" src="/src/index.js"></script>
</body>
</html>