<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urban Gazette Co.</title>
    <link rel="stylesheet" href="/public/styles/pages/mercado-tecnologico.scss">

    <!-- Fonts -->
    <link rel="shortcut icon" href="/public/assets/images/ug-co-logo.svg" type="image/x-icon">
    <link rel="stylesheet" href="/public/assets/fonts/higuen-font/stylesheet.css">
    <!-- <link rel="stylesheet" href="./public/assets/fonts/nourd-font/stylesheet.css"> -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <%- include(`./partials/header`, {scrolled: false}) %>

    <main>
        <section class="header">
            <div class="header-shadow"></div> 
            <div class="container">
                <div class="header-content">
                    <div> 
                        <h2>
                            Mercado tecnológico <br> tem ausência feminina
                        </h2>
                        <p class="brand-calling">disparidade entre lideranças <br> chega a 10 para 1</p>                        
                    </div>
                    <div>
                        <p class="author">Por Brayan Cunha</p>
                        <p class="post-day">10/05/2024</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="dark-background text-development">
            <div class="container">
                <div>
                    <p>
                        Segundo a pesquisa Woman in Technology, realizada pela empresa de recrutamento Michael Page, menos de 20% dos cargos de tecnologia são ocupados por mulheres e, em toda a América Latina, a ocupação dos cargos de liderança não chegam a 30%.
                    </p>
                    <p>
                        Nos Estados Unidos a disparidade de gênero consegue ser ainda maior. Foi somente em 2023 que pouco mais de 10% das empresas listadas entre as maiores corporações do país tinham mulheres como CEO. É o que mostrou o ranking da revista Fortune 500 daquele ano. 
                    </p>
                </div>
            </div>
        </section>

        <section class="text-development">
            <div class="container">
                <div>
                    <p>
                        Foi só na primeira década deste século que, nesse ranking, apareceu uma mulher negra a exercer a posição de CEO. Ursula Burns, da Xerox, considerada em 2014 a 22ª mulher mais poderosa no mundo, foi a primeira mulher negra a aparecer nessa lista, em 2009. Sem dúvida, uma exceção.
                    </p>
                    <p>
                        Segundo dados da Unesco, a tendência internacional é que apenas 3 em cada 10 pessoas em ciência e tecnologia sejam mulheres. Nos Estados Unidos, apenas 3% das mulheres que ingressam no ensino superior optam pela área de tecnologias de informação e comunicação. Da mesma forma, o número é semelhante nas disciplinas como ciências, engenharia e matemática. Apenas 35% das mulheres ingressam em uma carreira relacionada a essas disciplinas. 
                    </p>
                    <p>
                        De acordo com a Crack The Code, escola de programação online para jovens da América Latina, 26% dos talentos nas empresas de tecnologia são ocupados por mulheres e isso em parte porque apenas 1 em cada 5 graduados em carreiras de tecnologia é mulher.
                    </p>
                    <p>
                        O cenário atual não mostra a importância das mulheres no desenvolvimento da CT &I. Contudo, é importante destacar que elas têm papel crucial na história do avanço tecnológico e científico. Ada Byron King, também conhecida como Ada Lovelace, escreveu o primeiro algoritmo a ser utilizado em um computador. Outro exemplo é Marie Curie, que foi uma física e química polonesa pioneira no estudo da radiação, cujas pesquisas levaram à descoberta de dois elementos radioativos: o rádio e o polônio.                   
                    </p>
                </div>

                <div class="divisor">
                </div>

                <div class="article-author">
                    <p class="about-author">
                        Brayan Cunha é estudante do curso de Análise e Desenvolvimento de Sistemas (ADS) da Fatec de Carapicuíba.
                    </p>
                </div>
            </div>
        </section>

        <%- include(`./partials/recents_news`, {actualPage: "mercado-tecnologico"}) %>
    </main>

    <%- include(`./partials/footer`) %>

    <script type="module" src="/src/index.js"></script>
</body>
</html>