<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urban Gazette Co.</title>
    <link rel="stylesheet" href="/public/styles/pages/mulheres_tecnologia_podcast.scss">

    <!-- Fonts -->
    <link rel="shortcut icon" href="/public/assets/images/ug-co-logo.svg" type="image/x-icon">
    <link rel="stylesheet" href="/public/assets/fonts/higuen-font/stylesheet.css">
    <!-- <link rel="stylesheet" href="./public/assets/fonts/nourd-font/stylesheet.css"> -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <%- include(`./partials/header`, {scrolled: false}) %>

    <main>
        <section class="header">
            <div class="header-shadow"></div> 
            <div class="container">
                <div class="header-content">
                    <div> 
                        <p class="brand-calling">PODCAST</p>                        
                        <h2>
                            Mulheres <br> na tecnologia
                        </h2>
                    </div>
                    <div>
                        <p class="author">Por Victor Alison, Ícaro Alcantara e Vitória Augusto</p>
                        <p class="post-day">17/06/2024</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="text-development">
            <div class="container">
                <div>
                    <p>
                        No episódio do podcast, a convidada Ana Clara compartilhou suas experiências e desafios como mulher na indústria da tecnologia, inspirando futuras gerações.
                    </p>
                </div>
        
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/krAUfAb2FaA?si=0deqy1jcXQ-6Szpf" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
        
                <div class="divisor">
                </div>

                <div class="article-author">
                    <p class="about-author">
                        Beatriz Ramos é estudante de ADS da Fatec Carapicuíba.
                    </p>
                </div>
            </div>
        </section>
        
        <%- include(`./partials/recents_news`, {actualPage: "mercury-13"}) %>
    </main>

    <%- include(`./partials/footer`) %>

    <script type="module" src="/src/index.js"></script>
</body>
</html>