<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urban Gazette Co.</title>
    <link rel="stylesheet" href="/public/styles/pages/mulheres_reportagem_ana.scss">

    <!-- Fonts -->
    <link rel="shortcut icon" href="https://ik.imagekit.io/es2e8pxot/images/ug-co-logo.svg" type="image/x-icon">
    <link rel="stylesheet" href="/public/assets/fonts/higuen-font/stylesheet.css">
    <!-- <link rel="stylesheet" href="./public/assets/fonts/nourd-font/stylesheet.css"> -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <%- include(`./partials/header`, {scrolled: false}) %>

    <main>
        <section class="header">
            <div class="header-shadow"></div> 
            <div class="container">
                <div class="header-content">
                    <div> 
                        <h2>
                            Mulheres na tecnologia: <br> uma história de determinação <br> e conquista 
                        </h2>
                        <p class="brand-calling">“Havia o preconceito de que certas tarefas eram apenas para ‘homens’” <br>  relembra líder de tecnologia de grande grupo empresarial <br> da região metropolitana de São Paulo  </p>                        
                    </div>
                    <div>
                        <p class="author">Por Diego Paraguai</p>
                        <p class="post-day">10/05/2024</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="text-development">
            <div class="container">
                <div>
                    <p>
                        Ana Lima, 45 anos de idade e 25 anos de carreira. Hoje, supervisora de sistemas do Grupo NSO, que reúne empresas como Viação Santa Brígida, Autoviação Urubupungá, Urubupungá Transportes e Turismo e Viação Cidade de Caieiras. Do operacional até a chegada a essa posição de destaque no mercado de tecnologia, Ana teve que enfrentar muitos desafios.
                    </p>
                    <p>
                        Na mesma empresa desde 2000, ela foi inicialmente contratada para trabalhar na área operacional, onde separava bilhetes de integração de ônibus e trens. Depois de algum tempo, já no setor administrativo, desenvolveu suas habilidades e sentiu despertar seu interesse pela tecnologia. “Foi na digitação que passei a pegar gosto pelos computadores”, conta. 
                    </p>
                    <p>
                        “Eu era muito curiosa e sempre quis entender como as coisas funcionavam, especialmente os servidores e a interação entre as pessoas e a tecnologia”, diz Ana, refletindo sobre suas motivações iniciais. 
                    </p>
                    <p>
                        Mas, sua trajetória não foi muito fácil. De acordo com ela, ser mulher foi um fator de dificuldade.
                        "Havia um preconceito de que certas tarefas eram apenas para ‘homens’, entre aspas", ela comenta, ao reconhecer que a presença feminina na área de tecnologia era escassa naquele tempo
                    </p>
                    <p>
                        “Na época, não existia confiança em deixar uma mulher realizar tarefas como abrir e fazer manutenção em máquinas ou carregar equipamentos, consideradas trabalho pesado”, lembra.
                        Com o apoio de um diretor que reconheceu seu potencial, Ana teve a oportunidade de ingressar na área de tecnologia, onde começou a trabalhar. Seu mentor a incentivou a buscar uma formação acadêmica na área, que iniciou seu caminho na tecnologia. 
                    </p>
                    <p>
                        Mas, lá também, as mulheres eram minoria: na faculdade em que cursava ocasionalmente era subestimada devido ao seu gênero. 
                    </p>
                    <p>
                        O chefe de Ana, embora fosse diretor, auxiliou-a didaticamente em cada etapa de sua jornada. “"Ana, se você tem vontade, eu vou te ajudar", era a fala dele”. Segundo ela, esse diretor acreditava em seu potencial e ela soube aproveitar as oportunidades que lhe foram dadas. 
                    </p>
                    <p>
                        Ana persistiu e enfrentou desafios, especialmente ao fazer atendimento de tecnologia ao usuário e ao exercer trabalhos informáticos na empresa. 
                    </p>
                    <p>
                        "Às vezes, as pessoas duvidavam da minha capacidade só porque eu era mulher", diz, refletindo sobre as dificuldades que enfrentou. No entanto, ela nunca deixou que isso a desmotivasse. "Cada obstáculo me motivava ainda mais a seguir em frente", afirma. 
                    </p>
                    <p>
                        Ao longo de sua carreira, alcançou sucesso na área de tecnologia, chegando ao cargo de supervisora de sistemas: "Não desista dos seus sonhos. Acredite em si mesma e siga em frente, porque você é capaz de alcançar o que quiser,” aconselha Ana". 
                    </p>
                    <p>
                        E para as mulheres que estão começando sua jornada na tecnologia, oferece palavras de encorajamento: "A capacidade da mulher não está limitada se ela é homem ou mulher para realizar uma tarefa. Eu acredito que se ela tem um sonho, ela tem que batalhar e ir até o final, porque só depende dela. Você vai chegar aonde você quiser chegar e vai estar onde você quiser estar. Não deixe de estar num lugar por conta de outra pessoa. Então você tem que continuar e ir até o final porque você é capaz". 
                    </p>
                    <p>
                        Ana espera que suas palavras inspirem outras mulheres a perseguirem seus objetivos na área de tecnologia, e não só mulheres como todas as pessoas que têm o desejo e a vontade de ingressar na área. "Espero que minha vivência gere frutos pra outras mulheres, negras, brancas, ou qualquer outra pessoa, pois podemos conseguir, como já conseguimos muita coisa”. 
                    </p>
                    <p>
                        Ana também comenta sobre as melhorias que tem observado nos dias atuais em relação à presença feminina na tecnologia. "Hoje em dia, há uma maior conscientização e apoio à diversidade de gênero e etnia no ambiente de trabalho", observa. Ela destaca que agora as mulheres são mais valorizadas e reconhecidas por suas habilidades e contribuições. 
                    </p>
                </div>
            
                <div class="divisor">
                </div>

                <div class="article-author">
                    <p class="about-author">
                        Diego Paraguai é estudante do curso de Análise e Desenvolvimento de Sistemas (ADS) da Fatec de Carapicuíba e analista de dados operacionais.
                    </p>
                </div>
            </div>
        </section>

        <%- include(`./partials/recents_news`, {actualPage: "mulheres_reportagem_ana"}) %>
    </main>

    <%- include(`./partials/footer`) %>
    <script type="module" src="/src/index.js"></script>
</body>
</html>