<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urban Gazette Co.</title>
    <link rel="stylesheet" href="/public/styles/pages/newgame_anime.scss">

    <!-- Fonts -->
    <link rel="stylesheet" href="/public/assets/fonts/higuen-font/stylesheet.css">
    <!-- <link rel="stylesheet" href="./public/assets/fonts/nourd-font/stylesheet.css"> -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="navbar">
        <div class="container">
            <h1><a href="/pages/index.ejs" class="company-title">Urban Gazette Co.</a></h1>
            <nav>
                <ul>
                    <li><a href="#">Sobre Nós</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <%- include(`./partials/header`) %>

        <section class="text-development">
            <div class="container">
                <div>
                    <p>
                        A trama acompanha Aoba, uma jovem recém-formada no ensino médio, que consegue seu primeiro emprego como designer de personagens na Shounen Jump, estúdio de games, seguindo os passos de sua ídola Yagami Kou. Dentro da empresa, ela tem a oportunidade de trabalhar ao lado de sua inspiração, estando sob sua orientação e de Rim Tousei. Embaca, assim em uma jornada de autoaperfeiçoamento e confiança em seu próprio talento, desmistificando uma imagem divinificada de Yagami Kou.
                    </p>
                    <p>
                        Uma das qualidades notáveis de "New Game!" é sua trilha sonora animada e o desenvolvimento profissional dos personagens. A narrativa mergulha na vida e nos desafios enfrentados por cada membro da equipe de desenvolvimento de jogos, oferecendo uma visão autêntica e divertida do processo criativo. Além disso, a série transita habilmente entre o foco nas relações interpessoais e os aspectos técnicos do design, incluindo a programação. Isto proporciona uma experiência rica e variada para o espectador
                    </p>
                </div>
            
                <div class="flex-text_img">
                    <div class="flex-image">
                        <img src="/public/assets/images/nenechi-newgame.png" alt="Nenechi, New game!">
                        <span>Figura 2: New Game!, Temporada 1, Episódio 6, 14:30, Doga Kobo, 2016.</span>
                    </div>
                
                    <div class="text-container">
                        <p>
                            Além de Aoba, outras personagens femininas em "New Game!" também desempenham papéis significativos na indústria tecnológica representada na série. Por exemplo, Nenechi, com sua paixão pela programação, não apenas demonstra habilidades técnicas impressionantes, mas também desafia estereótipos de gênero ao se destacar em um campo predominantemente masculino. Sua presença como uma desenvolvedora talentosa e entusiasta reflete a crescente diversidade e representação das mulheres na indústria de tecnologia, inspirando jovens espectadoras a seguirem carreiras relacionadas ao STEM (Ciência, Tecnologia, Engenharia e Matemática). Essas personagens não apenas enriquecem a narrativa de "New Game!", mas também destacam a importância da inclusão e da igualdade de gênero em um campo historicamente dominado por homens.
                        </p>
                    </div>
                </div>
                <div>
                    <p>
                        Além de Aoba e Nenechi, é importante destacar o papel de Aragon em "New Game!". Como uma figura experiente, com técnica e conhecimento na indústria de jogos, Ahagon não apenas oferece orientação técnica e apoio à equipe, mas também demonstra uma abordagem inclusiva e colaborativa, promovendo um ambiente de trabalho positivo e respeitoso para todos. Sua presença como uma líder feminina na tecnologia destaca a importância da representação das mulheres em cargos de liderança e influência na indústria de jogos e tecnologia. Além disso, sua habilidade em equilibrar conhecimento técnico com habilidades interpessoais ressalta a diversidade de habilidades necessárias para o sucesso em um ambiente criativo e inovador. Ahagon, portanto, não apenas contribui para o desenvolvimento de jogos dentro da série, mas também serve como um exemplo inspirador de como as mulheres podem prosperar e liderar em campos majoritariamente masculinos.
                    </p>
                </div>

                <div class="header-image">
                    <img src="/public/assets/images/ahagon-newgame.png" alt="Ahagon New Game!">
                    <span>Figura 3: New Game!, Temporada 1, Episódio 3, 07:85, Doga Kobo, 2016</span>
                </div>
            
                <div>
                    <p>
                        Embora em alguns momentos a série se desvie do desenvolvimento técnico dos personagens para explorar situações constrangedoras de relacionamento, isso não tira o entretenimento oferecido pela obra. Comparada a outras animações do gênero, ela se destaca pela sua leveza e humor ao retratar o mundo dos jogos e da indústria por trás destes títulos.
                    </p>
                    <p>
                        "New Game!" oferece uma experiência de entretenimento agradável e inspiradora, repleta de risadas e momentos emocionantes. No entanto, sua capacidade de instigar ao espectador pode ser limitada para aqueles que buscam uma narrativa mais profunda ou uma análise mais criteriosa da indústria de jogos.
                    </p>
                    <p>
                        Em resumo, "New Game!" pode ser comparada a "Shirobako", outra série de anime que 
                        explora os bastidores de uma indústria criativa, no caso, a indústria de animação. Ambas 
                        as séries oferecem uma visão fascinante dos desafios e das recompensas de trabalhar 
                        em um ambiente criativo, embora cada uma com seu próprio foco e estilo distintos. 
                        Enquanto "Shirobako" se concentra na produção de anime em si, "New Game!" mergulha 
                        no processo de desenvolvimento de jogos, oferecendo uma perspectiva única e divertida 
                        para os espectadores
                    </p>
                </div>

                <div class="divisor">
                </div>

                <div class="article-author">
                    <p class="about-author">
                        Por Eduardo Henrique de Souza, estudante de Análise e Desenvolvimento de Sistemas pela Fatec de Carapicuíba.
                    </p>
                </div>
            </div>
        </section>

        <%- include(`./partials/recents_news`, {actualPage: "newgame_anime"}) %>
    </main>

    <%- include(`./partials/footer`) %>
    <script type="module" src="/src/index.js"></script>
</body>
</html>